<htmllang = "">
       <head>
            <meta charset="utf-8">
            <title>Image to Text</title>
       </head>
       
       <body>
           
         <div class='text-center'><br><br>
             <h1> Upload Image Below </h1>
             
             <form method=POST enctype='multipart/form-data'>
                 <input type='file' class='btn btn-dark' name='photo'><br><br>
                 <input id='input' type='text' class='form-control', placeholder='enter image name...' name='img-name'><br>
                 <input class='btn btn-dark' type='submit'>
             </form>
         </div>
       </body>
       <style>
           #input{
              margin: auto;
              width: auto;
           }
       </style>
</html>                 
              
